<?xml version="1.0" encoding="ISO-8859-1"?>

<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee web-app_2_4.xsd"
    version="2.4">

	<!-- Standard Action Servlet Configuration (with debugging) -->
	<servlet>
	  <servlet-name>action</servlet-name>
	  <servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
	  <init-param>
	    <param-name>config</param-name>
	    <param-value>/WEB-INF/struts-config.xml</param-value>
	  </init-param>
	  <init-param>
	    <param-name>debug</param-name>
	    <param-value>2</param-value>
	  </init-param>
	  <init-param>
	    <param-name>detail</param-name>
	    <param-value>2</param-value>
	  </init-param>
	  <load-on-startup>2</load-on-startup>
	</servlet>

    <servlet>
        <servlet-name>welcomeGame</servlet-name>
        <description>Page d'entrée</description>
        <servlet-class>com.increg.game.servlet.WelcomeGame</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>refreshAll</servlet-name>
        <description>Demande des infos à jour pour l'applet</description>
        <servlet-class>com.increg.game.servlet.RefreshAll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>affJoueur</servlet-name>
        <description>Affiche les données d'un joueur</description>
        <servlet-class>com.increg.game.servlet.AffJoueur</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>doAction</servlet-name>
        <description>Controleur général des actions faites sur l'aire</description>
        <servlet-class>com.increg.game.servlet.DoAction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>bouchonBel</servlet-name>
        <description>Bouchon pour simuler les beloteux</description>
        <servlet-class>com.increg.game.servlet.test.BouchonBel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>admin</servlet-name>
        <description>Administration de l'aire</description>
        <servlet-class>com.increg.game.servlet.Admin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>paramAire</servlet-name>
        <description>Paramétrage de l'aire</description>
        <servlet-class>com.increg.game.servlet.ParamAire</servlet-class>
    </servlet>

    <!-- ************************************************************************************* -->

	<!-- Standard Action Servlet Mapping -->
	<servlet-mapping>
	  <servlet-name>action</servlet-name>
	  <url-pattern>*.do</url-pattern>
	</servlet-mapping>

    <servlet-mapping>
        <servlet-name>welcomeGame</servlet-name>
        <url-pattern>/welcomeGame.srv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>refreshAll</servlet-name>
        <url-pattern>/refreshAll.srv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>affJoueur</servlet-name>
        <url-pattern>/affJoueur.srv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>doAction</servlet-name>
        <url-pattern>/doAction.srv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>bouchonBel</servlet-name>
        <url-pattern>/bouchonBel.srv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>admin</servlet-name>
        <url-pattern>/admin/admin.srv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>paramAire</servlet-name>
        <url-pattern>/admin/paramAire.srv</url-pattern>
    </servlet-mapping>

    <!-- ************************************************************************************* -->
    
    <session-config>
        <session-timeout>5</session-timeout>
    </session-config>

	<jsp-config>
		<!-- Struts Tag Library Descriptors -->
		<taglib>
		  <taglib-uri>/tags/struts-bean</taglib-uri>
		  <taglib-location>/WEB-INF/struts-bean.tld</taglib-location>
		</taglib>
		
		<taglib>
		  <taglib-uri>/tags/struts-html</taglib-uri>
		  <taglib-location>/WEB-INF/struts-html.tld</taglib-location>
		</taglib>
		
		<taglib>
		  <taglib-uri>/tags/struts-logic</taglib-uri>
		  <taglib-location>/WEB-INF/struts-logic.tld</taglib-location>
		</taglib>
		
		<taglib>
		  <taglib-uri>/tags/struts-nested</taglib-uri>
		  <taglib-location>/WEB-INF/struts-nested.tld</taglib-location>
		</taglib>
	</jsp-config>
</web-app>
