.facultatif {  font-style: italic; vertical-align: top}
.obligatoire { font-style: normal; vertical-align: top}

body
{
scrollbar-3d-light-color : blue ;
scrollbar-arrow-color : #FFFFFF ;
scrollbar-base-color : white ;
scrollbar-dark-shadow-color : yellow ;
scrollbar-face-color : #000066 ;
scrollbar-highlight-color : white ;
scrollbar-shadow-color : #00FFFF ;
background-attachment : fixed ;
background-color : #000066 ;
background-position : left top ;
background-repeat : repeat ;
margin-bottom : auto ;
margin-left : 10px ;
margin-right : 10px ;
margin-top : 10px ;
font-family : "Trebuchet MS" ;
color : #FFFFFF ;
}
a:link {
	color: white;
	font-weight: bold;
}
a:visited {
	color: white;
	text-weigth: bold;
}
.tabScore { 
	width: 100%
}