.facultatif {  font-style: italic; vertical-align: top}
.obligatoire { font-style: normal; vertical-align: top}

body
{
background-color : #5F490F;
margin-bottom : auto;
margin-left : 10px;
margin-right : 10px;
margin-top : 10px;
font-family : Tahoma, Arial, sans-serif;
color : #F9D994;
}
a:link {
	color : #F9D994;
	font-weight: bold;
}
a:visited {
	color : #F9D994;
	text-weigth: bold;
}
.tabScore { 
	width: 100%
}